<!doctype html>
<html xmlns:ng="http://angularjs.org" lang="pl">
	<head>
		<style type="text/css">
			[ng\:cloak], [ng-cloak], .ng-cloak {
				display: none !important;
			}
		</style>
		<link type="text/css" rel="stylesheet" href="styles/application.css" />
	</head>
	<body ng-cloak>
		<!-- App UI -->
		<div>
			<menu></menu>
			<div ui-view></div>
		</div>

		<div id="quick-links">
			<a ui-sref="/demo">demo</a>
			<a ui-sref="/simple">simple</a>
		</div>
	</body>

	<!-- App dependencies -->
	<script src="//localhost:35729/livereload.js"></script>
	<script type="text/javascript" src="libs/system.js"></script>
	<script type="text/javascript" src="systemjs-config.js"></script>

	<!-- Load all modules in one file instead of multiple HTTP requestes, bundle.js is removed for devmode! -->
	<script type="text/javascript" src="bundle.js"></script>

	<!-- App bootstrap -->
	<script type="text/javascript">
		console.time("APP_BOOT_TIME");
		console.time("APP_BOOT_LOADING_TIME");
		System.import("index").catch(console.error.bind(console));
	</script>

</html>
